body {
  background: rgb(38,34,34);
  background: linear-gradient(90deg, rgba(38,34,34,1) 0%, rgba(218,129,7,1) 38%, rgba(203,124,15,1) 63%, rgba(79,79,79,1) 100%);
}

.calc {
  margin: 50px auto;
  width: 300px;
  height: 500px;
  /* border: 1px solid #000; */
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 18px;
  box-shadow: 4px 4px 4px #4f4f4f;
}

.tg {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.calc-screen {
  height: 125px;
  padding: 10px;
  display: grid;
  justify-items: end;
  align-items: end;
  text-align: right;
  font-size: 4rem;
  margin: 0;
}

.buttons {
  display: grid;
  grid-template-areas: 
  'ac plus-minus percent divison'
  'seven eight nine multi'
  'four five six minus'
  'one two three plus'
  'zero zero dot equal';
  gap: 7px;
  justify-items: center;
  margin-top: 25px;
}

.btn {
  width: 60px;
  height: 60px;
  background: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.btn.zero {
  grid-area: zero;
  width: 97%;
  border-radius: 34px;
}

.btn:hover {
  filter: brightness(120%);
}

.btn:active {
  filter: brightness(90%);
}

.bg-grey {
  background: #a6a6a6;
}

.bg-orange {
  background: #ff9501;
}
